{% extends "dragon/layout.html" %}

{% load static %}

{% block title %}
    Dragon Curve Maker
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{% static 'dragon/helpers.js' %}"></script>
<script type="text/javascript" src="{% static 'dragon/svgthumb.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <h3>Dragon Curve Maker</h3>
    {% if message %}<p>{{ message }}</p>{% endif %}
    
    <p>You may have seen the classic 
    <a class="nostyle" target="_blank" href="https://en.wikipedia.org/wiki/Dragon_curve#Heighway_dragon">
        Heighway (or Jurrasic Park) dragon Curve
    </a>
    before. This app lets you build your own similar fractal curve. Define a pattern by drawing a line with
    at least two segments. Then the app will recursively replace each segment with the pattern itself, flipping 
    the orientaton each time. I was introduced to it in 
    <a class="nostyle" target="_blank" href="https://www.youtube.com/playlist?list=PLt5AfwLFPxWKaSnoaJgjVN-7Vl4Xdu4vT">
        one of the excellent Numberphile's videos</a>.
    </p>
    <p><a class="nostyle" href="{% url 'draw' %}">Make one yourself here</a></p>
    <p>Browse the top user-created patterns below, or search for one.</p>
    <form id="search_form" action="{% url 'index' %}" method="get">
        {% csrf_token %}
        <input autocomplete="off" autofocus id="search_term" name="search_term" maxlength="32" type="text">
        <button type="submit" id="search_button">Search</button>
    </form> 
    <br>
    <table class="infotable">
        <tr>
            <th>Pattern</th><th>Name</th><th>By User</th><th>Votes</th>
        </tr>
        {% for pattern in top_patterns %}
            <tr>
                <td>
                    <a class="nostyle" href=
                    "{% url 'view' %}?username={{ pattern.creator.username }}&pattern_name={{ pattern.name }}">
                        <svg class="thumbnail" data-coords="{{ pattern.data }}"></svg>
                    </a>
                </td>
                <td>
                    <a class="nostyle" href=
                    "{% url 'view' %}?username={{ pattern.creator.username }}&pattern_name={{ pattern.name }}">
                        {{ pattern.name}}
                    </a>
                </td>
                <td>
                    <a class="nostyle" href=
                    "{% url 'index' %}?username={{ pattern.creator.username }}">{{ pattern.creator.username }}
                    </a>
                </td>
                <td>{{ pattern.score }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
